html, body{margin:0px; padding:0px;}
#UsernameText{
    
	text-align: center;
}
#RoomNameText{
    
	text-align: center;
}
#RoomCodeText{
    
	text-align: center;
}

#roomPassword{
    
	text-align: center;
}
#EnterVideo{
    
	text-align: center;
}

h2{
	color: #000000;
}
#Content{
    display:none;
    /*Sets all content disappeared. so that when the javascript loads it can then decide what to put on the page rather than loading everything on the page before moving it off */
}
body{
    
	background-color: #32333D;
	text-align: center; /*Center all text within body*/
}

/*this is for the info in the video queue*/
.videoinfo{
	border-style:solid;
}
input[type="button"]{
		font-family:'Courier New', Courier, monospace;
		background-color:#B21F38; 
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		-webkit-transition-duration: 0.4s; /* Safari */
		transition-duration: 0.4s;
	  
}
input[type="button"]:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
input[type=text] {
	font-family:'Courier New', Courier, monospace;
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 3px solid rgb(33, 58, 202);
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
  }
  input[type=text]:focus {
	border: 5px solid rgb(223, 29, 29);
	
  }

#Top-Bar{
	width:100%;
	margin-top: -20px;
	height:10%;
	float:center;
	text-align: center;
	border-radius: 0px 0px 50px 50px;
	box-shadow:0px 10px 5px;
	margin-bottom: 15px;
	background-color:#000000;
	color:#44bd32;
	-webkit-animation-name: ShadowChange; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: ShadowChange;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes ShadowChange {
	0% {box-shadow:0px 10px 5px red;}
	15% {box-shadow:0px 10px 5px yellow;}
	30% {box-shadow:0px 10px 5px green;}
	45% {box-shadow:0px 10px 5px blue;}
	60%{box-shadow:0px 10px 5px purple;}
  }
  
  /* Standard syntax */
  @keyframes ShadowChange {
	0% {box-shadow:0px 10px 5px red;}
	15% {box-shadow:0px 10px 5px yellow;}
	30% {box-shadow:0px 10px 5px green;}
	45% {box-shadow:0px 10px 5px blue;}
	60%{box-shadow:0px 10px 5px purple;}
  }
h1{
	color: #26A00C;
	display: inline-block;
	padding-top:10px;
}
p{
color: #3cd31a;
font-size: 30px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2{
	color: #26A00C;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#playerlistholder{
	
}