#Roomname{
    display:none;
}
#Roomcode{
    display:none;
}
#UsernameText{
    display:none;
}
#RoomNameText{
    display:none;
}
#RoomCodeText{
    display:none;
}
#Create_Server_Button{
    display:none;
}